$steamGrey: rgb(23, 26, 33);
$steamBlue: rgb(27, 40, 56);
$steamText: rgb(184, 182, 180);
$steamHover: rbg(255, 255, 255);
$steamBtnTxt: rgb(102, 192, 244);
$steamInstallBtn: rgb(92, 126, 16);
$steamInstallBtnTxt: rgb(229, 228, 220);
$steamLightBlue: rgba( 62, 126, 167, 0.8);
