@import "variables";
@import "mixins";

* {
  padding: 0;
  margin: 0;
}
.header {
  width:100%;
  background-color: $steamGrey;
  display: flex;
  justify-content: center;
}
.header-content {
  height: 104px;
  display: flex;
  width: 940px;
  align-items:center;
  justify-content: space-between;
}
.navigation {
  display:flex;
  align-items:center;
  text-transform: uppercase;
  margin-left:10px;
  p {
    padding:7px;

  }
}
.actions {
  display:flex;
  // jusity-self:flex-end;
  align-self: flex-start;
  font-size:11px;
  p {
    padding: 4px;
  }
}
body {
  background-color: $steamBlue;
  color:$steamText;
  font-family: "Motiva Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.leftSide {
  display :flex;
}
.pageContainer{
  display: flex;
}
.sidebar{
  display: flex;
  flex-direction: column;
}

.page-content{
  display:flex;
  flex-direction: column;
}
.contentbox{
  display: flex;
  justify-content: space-between;
  width: 940px;
}
.browseBtn{
height: 58px;
width: 226px;
background-image: url("https://steamstore-a.akamaihd.net/public/images/v6/home/background_spotlight.jpg");
color: $steamBtnTxt;
}
